#GENERAL
node_modules
/packages/*/node_modules
/*/**/*.tsbuildinfo
.DS_STORE
/*/**/.DS_STORE

#FRONEND
/frontend/.next
/frontend/build
/frontend/.env.local
/frontend/.env

#PACKAGES
/packages/*/**/dist