.container {
  cursor: none;
  position: relative;
  width: fit-content;
  height: fit-content;
}

.cursor {
  position: absolute;
  top: 0;
  left: 0;
  width: var(--size);
  height: var(--size);
  opacity: var(--opacity);
  transform: translateX(var(--x)) translateY(var(--y));
  transition: opacity 0.3s ease;
}

.cursorWrapper {
  transform: translateY(var(--size) / 2) translateX(var(--size) / 2);
}
