.wrapper {
  position: relative;
  min-width: 20px;
  min-height: 20px;
  width: fit-content;
  height: fit-content;
}

.star {
  pointer-events: none;
}

.starSvgWrapper {
  position: relative;
  z-index: 1;
  transform-origin: center center;
}

.starSvgWrapper svg path {
  fill: var(--path-fill, yellow);
}
